//
   Created by massimo on 2014/7/6.

extends ../shared/layout_snippet

block content
    div.pin-it
        h2.secondary-title Pin It
        div.list
            each page in pageData
                div.pin
                    div.page-info
                        h3.page-title
                            a.link(href=page.url,target="_blank") #{page.title}
                        div.page-description
                            span.pin-count #{page.pinCount}
                            span.time #{page.addTime}
                        ul.pin-list
                            each pin in page.pins
                                li.pin-item
                                    span.message #{pin.message}
                                    span.pin-time (#{pin.pinTime})
        p(style="clear:left;")
