//
   Created by massimo on 2014/7/1.

extends  ../shared/layout_snippet

block content
    div.snippet
        h2.secondary-title #{snippet.title}
        div.info
            span #{snippet.addTime}
            div.tags
                span.tag-title Tags:
                ul.tag-list
                    - each tag in snippet.tags
                        li.tag-name= tag.name
            if auth
                a.operate(href="/snippets/edit/#{snippet.id}") Edit
                a.operate(href="/snippets/delete/#{snippet.id}") Delete
        if snippet.html
            div.content !{snippet.html}
        else
            pre#code #{snippet.content}

block body
    script(src="/js/ace-min/ace.js")
    script.
        $(document).ready(function() {
            if($("#code").length>0){
                var editor=ace.edit("code");
                var title="#{snippet.title}";
                var mode= getAceModeByTitle(title);
                editor.setTheme("ace/theme/tomorrow");
                editor.session.setMode("ace/mode/"+mode);
                editor.getSession().setTabSize(4);
                editor.setAutoScrollEditorIntoView(true);
                editor.setOption("maxLines", 30);
                editor.setReadOnly(true);
                editor.setFontSize(14);
            }
         });