//
   Created by massimo on 2014/7/1.

extends  ../shared/layout_snippet

block head
    link(rel="stylesheet",href="/js/google-code-prettify/prettify.css")

block content
    div.snippet
        h2.secondary-title #{snippet.title}
        div.info
            span #{snippet.addTime}
            ul.tags
                - each tag in snippet.tags
                    li.tag= tag.name
            a.operate(href="/snippets/edit/#{snippet.id}") Edit
            a.operate(href="/snippets/delete/#{snippet.id}") Delete
        if snippet.html
            div.content !{snippet.html}
        else
            div.content
                pre
                    code #{snippet.content}

block body
    script(src="/js/google-code-prettify/prettify.js")
    script.
        $(document).ready(function() {
             $('pre').addClass('prettyprint linenums');
             prettyPrint();
         });