//
   Created by massimo on 2014/7/4.

extends ../shared/layout_snippet

block content
    div.edit-snippet
        h2.secondary-title Edit #{snippet.title}
        div.form
            div.form-control
                span.description File name
                input(type="text",id="title",value=snippet.title)
            div.form-control
                span.description Content
                pre#editor #{snippet.content}
            div.form-control
                span.description Tags
                input(type="text",id="tags",value=snippet.tags)
                small.desc split tags by '|'
            div.form-control
                button.submit(id="submit") Update

block body
    script(src="/js/ace-min/ace.js")
    script.
        $(document).ready(function(){
            codeEditor("editor","edit","#{snippet.id}");
        });